VITE_SUPABASE_URL=https://xcwcvqvaeqxxjuongqse.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inhjd2N2cXZhZXF4eGp1b25ncXNlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0MTYwMzcsImV4cCI6MjA5NTk5MjAzN30.z2oqgBynb0bY4nsTs5kH-OsUFnX6KF88MB76FmtUc18

# Copie este arquivo para .env.local (ou .env) e preencha com suas chaves.